#kirby {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(10px 10px palevioletred);
}
#kirbytit {
  color: palevioletred;
  text-align: center;
}
#deskirby {
  text-align: center;
}

#kuromitit {
  text-align: left;
}
#kuromi {
  display: block;
  margin-right: 10px;
  filter: drop-shadow(10px 10px plum);
}

#kazuha {
  display: block;
  margin-left: 280px;
  filter: drop-shadow(10px 10px turquoise);
}

#kazuhatit {
  color: turquoise;
  text-align: right;
}
#deskazuha {
  text-align: right;
}
